.pm-container {
    margin: auto;
    width: 90%;

    @include media-screen(tablet) {
        width: 750px;
    }

    @include media-screen(tablet-wide) {
        width: 970px;
    }

    @include media-screen(desktop) {
        width: 1140px;
    }

    @include media-screen(full-hd) {
        width: 1772px;
    }

    &--indented {

        @include media-screen(tablet-wide) {
            padding-left: 40px;
        }

        @include media-screen(desktop) {
            padding-left: 70px;
        }

        @include media-screen(full-hd) {
            padding-left: 175px;
        }
    }
}