.swiper-pagination-bullet {
    width: 20px;
    height: 4px;
    box-sizing: border-box;
    background: $color-white;
    opacity: 1;
    border-radius: 0;
    margin-right: 3px;

    &-active {
        height: 8px;
        background: $color-primary;
    }
}

.bg-gray-lighter .swiper-pagination-bullet {
    background: #D6D6D6;

    &-active {
        height: 8px;
        background: $color-primary;
    }
}