.pm-text-frame {
    display: inline-block;
    position: relative;

    &__drop {
        position: absolute;
        height: 100%;
        width: 270%;
        left: 0;
        z-index: -1;
        transform: translateX(-70%);
    }

    &--primary {

        .pm-text-frame__drop {
            background: $color-primary;
        }
    }

    &--dark {

        .pm-text-frame__drop {
            background: $color-dark-blue-2;
        }
    }
    
}