body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $size-small;
    line-height: $base-line-height;
    color: $color-white;

    @include media-screen(tablet-wide) {
        font-size: $base-font-size;
    }
}

p {
    margin-bottom: 10px;

    @include media-screen(tablet) {
        margin-bottom: 15px;
    }

    @include media-screen(desktop) {
        margin-bottom: 25px;
    }
}

a {
    color: $color-white;
    transition: color .1s ease-out;
    text-decoration: none;

    // &:not(.pm-button) {
        &:hover {
            color: $color-primary;
        }
    // }
}

h1 {
    font-size: $size-large-2;
    font-weight: $weight-extra-bold;
    line-height: $line-height-large;
    font-family: $second-font-family;
    position: relative;
    margin-bottom: 80px;

    @include media-screen(tablet-wide) {
        font-size: $size-large-3;
        margin-bottom: 100px;
    }
}

h2 {
    font-size: $size-large;
    line-height: $line-height-big;
    font-weight: $weight-extra-bold;
    font-family: $second-font-family;
    position: relative;
    margin-bottom: 20px;
    
    @include media-screen(tablet) {
        font-size: $size-large-2;
        line-height: $line-height-bigger;
        margin-bottom: 50px;
    }

    @include media-screen(desktop) {
        font-size: $size-large-2;
        line-height: $line-height-large;
        margin-bottom: 50px;
    }
}