.box-gradient-overlay-top{
  @apply relative;

  &:before{
    content: '';
    @apply block;
    @apply absolute;
    @apply inset-0;
    @apply z-10;
    @apply pointer-events-none;
    background-image: linear-gradient(rgba(1, 185, 195, 0.5), #171131 100%);
    z-index: 1;
  }
  
  &>*{
    @apply z-20;
  }
}
