.first-line-decorated{
  &:first-line{
    @apply bg-dark-blue-2;
    outline: 1px solid #0f0;
  }  

  &:before{
    content: '';
    @apply absolute;
    @apply bg-dark-blue-2;
    left: 0;
    right: auto;
    top: 2rem;
    bottom: auto;
    height: 2.8rem;
    z-index: -1;
    min-width: 50%;
  }
}
