@import "tailwindcss/base";

h1,
h2{
  @apply text-lg;
  @apply font-semibold;
  @apply font-special;
  @apply mb-17;
  
  @screen phone-wide{
    @apply text-xl;
  }
}

h3,
h4,
h5,
h6{
  @apply text-md;
  @apply font-semibold;
  @apply font-special;
  @apply mb-17;

  @screen phone-wide{
    @apply text-lg;
  }
}

p {
  @apply text-base;
  @apply mb-12;
}


@responsive {
  .h1,
  .h2{
    @apply text-xl;
    @apply font-semibold;
    @apply font-special;
    @apply mb-17;
  }
  
  .h3,
  .h4,
  .h5,
  .h6{
    @apply text-lg;
    @apply font-semibold;
    @apply font-special;
    @apply mb-17;
  }
  
  .p {
    @apply text-base;
    @apply mb-12;
  }
}

.current-page-item {
  @apply text-primary;
}

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1 br,
h2 br,
p br{
  display: none;

  @screen tablet-wide{
    display: block;
  }

  @media(max-height: 361px){
    display: none;
  }
}

br + .line-decorated {
  position: relative;
  display: block;
  z-index: -1;
  width: fit-content;
}

.has-medium-font-size{
  @apply font-special;
  @apply text-md;
  @apply leading-none;
  @apply mb-12;

  @screen tablet-wide{
      @apply text-lg;
      @apply leading-none;
  }
}

.content p{
  @apply mb-8;
  @apply pb-2;
}

.content ul,
.content ol{
  @apply ml-6;
  @apply leading-4;
  @apply mb-8;
}

.content ul ul,
.content ul li,
.content ol ol,
.content ol li{
  @apply mt-4;
}

.content ul{
  @apply list-disc;
}

.content ol{
  @apply list-decimal;
}

.content a{
  @apply text-primary;
  @apply underline;
}

@import "line-decorated.css";
@import "box-overlay.css";
@import "box-gradient-overlay.css";
@import "pm-button.css";
@import "pm-cta-section.css";
@import "pm-taxonomy-pill.css";
@import "pm-about.css";
@import "pm-side-heading.css";
@import "pm-category-item.css";
@import "gutenberg-wp-block-image.css";
@import "gutenberg-wp-block-verse.css";
@import "gutenberg-wp-block-embed.css";
@import "filter-shadow.css";
@import "box-gradient-overlay-top.css";
@import "svg-fill-primary.css";
@import "guides.css";
@import "overlay-dark.css";
@import "toggled.css";
@import "on-scroll.css";
@import "image-overlay.css";
@import "menu-toggle.css";
@import "admin-bar.css";

@import "tailwindcss/screens";