.line-decorated{
  @apply relative;
  @apply inline-block;
  padding-right: 10px;
  padding-top: 5px;

  &:before{
    content: '';
    @apply block;
    @apply absolute;
    @apply w-full;
    @apply h-full;
    background: inherit;
    top: 0;
    left: -100%;
    transform: translate(-100%,0);
  }

  &:after{
    content: '';
    @apply block;
    @apply absolute;
    @apply w-full;
    @apply h-full;
    background: inherit;
    top: 0;
    left: 0;
    transform: translate(-99%,0);
  }
}
