.menu-toggle{

  &__first,
  &__last{
    transition: all 0.3s;
    transform: none;
  }

  .active &__first{
    transform: rotate(45deg) translate(5px,5px);
  }
  
  .active &__middle{
    visibility: hidden;
  }
  
  .active &__last{
    transform: rotate(-45deg) translate(6.5px,-6.5px);
  }
}