.pm-button {
  @apply border-none;
  @apply bg-transparent;
  @apply relative;
  @apply inline-block;
  @apply leading-none;
  @apply rounded;
  @apply font-semibold;
  @apply uppercase;
  font-family: 'Rajdhani', sans-serif;
  transition: background .3s;

  &:hover{
      @apply text-white;
  }

  @apply text-sm;

  @screen phone-wide {
    @apply text-sm-2;
  }

  @screen tablet-wide {
    @apply text-base;
  }

  &:after{
    content: '—';
    font-weight: 700;
    padding-left: 10px;
  }

  &--small {
      @apply text-base;
      padding: 10px 30px!important;
  }

  &--primary {
      @apply bg-primary;
      @apply text-white;
      @apply p-4;

      a {
          padding: 16px 26px;
          @apply block;
          @apply text-white;
      }

      &:hover {
          background: darken($color-primary, 10%);
      }

      @screen tablet-wide {
        padding: 22px 35px;
      }
  }

  &--text-primary {
    @apply text-primary;

    &:hover {
      @apply text-primary;
    }
  }

  &--outline {
    @apply border-primary;
    @apply border;
    @apply border-solid;
    @apply bg-transparent;
    @apply p-4;

    @screen tablet {
      padding: 22px 35px;
    }
  }

  &--transparent {
    @apply bg-transparent;
    @apply text-primary;
  }

  &[disabled] {
      @apply bg-gray-2;
  }
}
