.pm-button {
  @apply border-none;
  @apply bg-transparent;
  @apply p-4;
  @apply relative;
  @apply inline-block;
  @apply leading-none;
  @apply rounded;
  @apply font-weight-bold;
  font-family: 'Rajdhani', sans-serif;
  transition: background .3s;

  @screen tablet {
    @apply text-base;
    padding: 22px 35px;
  }

  &:after{
    content: '—';
    font-weight: 700;
    padding-left: 10px;
  }

  &--small {
      @apply text-base;
      padding: 10px;
  }

  &--primary {
      @apply bg-primary;
      @apply text-white;
      @apply uppercase;

      a {
          padding: 16px 26px;
          @apply block;
          @apply text-white;
      }

      &:hover {
          background: darken($color-primary, 10%);
      }
  }

  &--outline {
    @apply border-primary;
    @apply border;
    @apply border-solid;
    @apply bg-transparent;
  }

  &[disabled] {
      @apply bg-gray-2;
  }

  &:hover{
      @apply text-white;
  }
}
