.pm-news {

    p {
        max-width: 630px;
    }
    
    &-article {

        &__teaser {
            overflow: hidden;
            transition: max-height .3s;
    
            @screen desktop {
                max-height: 0;
            }
        }
    
        &__backlayer {
            @apply absolute;
            @apply bg-white;
            @apply bottom-0;
            @apply left-0;
            @apply h-0;
            @apply w-full;
            transition: height .4s;
            z-index: 9;
        }
    
        &:hover {
    
            h3 {
                @apply text-white;
    
                @screen desktop {
                    @apply text-black;
                }
            }
            
            .pm-news-article__backlayer {
                @apply h-full;
            }
            
            .pm-news-article__teaser {
                @screen desktop {
                    max-height: 1000px;
                }
            }
        }
    }
    
    .post-info {
        padding: 20px;
        z-index: 10;

        @screen desktop {
            padding: 30px 50px;
        }

        @screen desktop-wide {
            padding: 30px 125px 30px 50px;
        }

        @screen full-hd {
            padding: 60px 215px 60px 50px;
        }
    }
}