.pm-side-heading {
    @apply hidden;
    font-family: 'Rajdhani', sans-serif;
    @apply mb-0;

    @screen desktop {
        @apply block;
    }
    @apply absolute;
    left: 20px;
    @apply top-1/2;
    @apply transform;
    @apply -translate-y-1/2;
    @apply text-base;
    @apply text-center;
    @apply font-bold;
    @apply uppercase;
    width: 30px;
    line-height: 22px;

    * {
        font-size: inherit;
    }
}