.sub-menu{
  position: fixed;
  left: 0;
  right: 0;
  margin-top: 25px;
  @apply bg-dark-blue-2;
  width: 100%;
  display: flex;
  @apply flex-col;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms;

  @screen desktop{
    width: 25%;
    @apply flex-row;
  }
}

a:hover + .sub-menu,
a + .sub-menu:hover{
  visibility: visible;
  opacity: 1;
  transition: .25s ease-in-out 0s; 
}

.sub-menu li{
  @apply w-full;
  margin: 0;
  min-height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @apply border;
  @apply border-dark-blue-2;
  @apply border-solid;

  @screen desktop{
    width: 25%;
  }
}



.sub-menu svg{
  fill: theme('colors.white');
  width: auto;

  &:hover{
    fill: theme('colors.primary');
  }
}
