
$base-spacing:                      20px;
$base-border-radius:                5px;
$base-easing-function:              cubic-bezier(0.0, 0.0, 0.2, 1);
$base-box-shadow:                   20px 20px 50px 5px $color-gray;

$drop-shadow-size-1: 0px 20px 25px;
$drop-shadow-size-2: 0px 5px 7.5px;

$img-border-radius: $base-border-radius * 2; 

//
// Font weights.
//
$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 600;
$weight-semi-bold: 700;
$weight-extra-bold: 800;

//
// Line height
//

$line-height-normal: 21px;
$line-height-medium: 26px;
$line-height-big: 41px;
$line-height-bigger: 62px;
$line-height-large: 80px;

//
// Fonts sizes.
//

$size-small: 12px;
$size-small-2: 16px;
$size-normal: 20px;
$size-medium: 25px;
$size-large: 40px;
$size-large-2: 60px;
$size-large-3: 80px;

$base-font-family:                  'Open Sans', Arial, sans-serif;
$second-font-family:                'Rajdhani', sans-serif;
$base-font-weight:                  $weight-regular;
$base-font-size:                    $size-normal;
$base-line-height:                  $line-height-normal;